@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-default top-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-1">

            </div>
            <div class="col-sm-9 col-md-11">
                <!-- Top Menu -->
                <nav-menu level="1"></nav-menu>
                <!--/-->
            </div>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default sub-nav" style="background-color: lightgray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-1">

            </div>
            <div class="col-sm-9 col-md-11">
                <!-- Sub Menu -->
                <nav-menu level="2"></nav-menu>
                <!--/-->

                <div style="float:right;" ng-controller="itemSelectorController">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{selectedItemId || 'Select Item'}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li><a href ng-click="clickItem(123)">Item 123</a></li>
                            <li><a href ng-click="clickItem(456)">Item 456</a></li>
                            <li><a href ng-click="clickItem(789)">Item 789</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>




<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-1">
            <nav class="navbar navbar-default side-nav">
                <!-- Side Menu-->
                <nav-menu level="3"></nav-menu>
                <!--/-->
            </nav>
        </div>
        <div class="col-sm-9 col-md-11" style="">
            <!-- The Main Content -->
            <ui-view></ui-view>
            <!-- /-->
        </div>
    </div>
</div>
